<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  appSettings contain the instance configuration:
   PCName                 - friendly name for the instance
   ServiceUrl             - AWS Availability Zone where the instance is located
   RdpPath                - path to the Remote Desktop tool to launch
   RdpDnsArgumentFormat   - argument format for the Remote Desktop tool - {0} will be replaced with the DNS name of the instance
   UpdateWaitMilliseconds - milliseconds to wait between polling AWS for status updates
   StopTimeoutMinutes     - default timeout for stopping the instance
   AwsAccessKey           - encrypted access key
   AwsSecretKey           - encrypted secret key
   InstanceId             - EC2 instance ID
  -->
  <appSettings>
    <add key="PCName" value="Matt's Home Services Cloud PC"/>
    <add key="ServiceUrl" value="https://eu-west-1.ec2.amazonaws.com"/>
    <add key="RdpPath" value="mstsc.exe"/>
    <add key="RdpDnsArgumentFormat" value="/v:{0}"/> 
    <add key="UpdateWaitMilliseconds" value="400"/> 
    <add key="StopTimeoutMinutes" value="30"/>
    <add key="AwsAccessKey" value="" />
    <add key="AwsSecretKey" value="" />
    <add key="InstanceId" value="" /> 
  </appSettings>
</configuration>