<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="StubData"
        connectionString="Data Source=StubData-LARGE.sdf"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
