<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HeartbeatEntities" connectionString="metadata=res://*/Entities.HeartbeatModel.csdl|res://*/Entities.HeartbeatModel.ssdl|res://*/Entities.HeartbeatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\R2EXPRESS;Initial Catalog=Heartbeat;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>